/* inicio-session.css */
/* Estilos heredados de app.css */
.login-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centra el contenido verticalmente */
  height: 100vh;
  font-family: Arial, sans-serif;
  background-image: url(/public/Cine-1.jpg);
  background-size: cover;
  background-position: center;
}

.login-form {
  width: 300px;
  background-color: rgba(245, 245, 245, 0.8); /* Fondo semi-transparente */
  padding: 20px;
  border-radius: 20px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 16px;
  margin-top: 3px;
}

button {
  width: 100%;
  padding: 10px;
  border: 20px;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Estilos para los enlaces */
.extra-options {
  display: flex;
  flex-direction: column; /* Alinea los enlaces en columna */
  align-items: center;
  margin-top: 10px;
}

.extra-options a {
  display: inline-block;
  padding: 8px 16px;
  border: 2px solid #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-bottom: 5px;
}

.extra-options a:hover {
  background-color: black;
}
