/* app.css */
.main {
    text-align: center;
    color: #fff;
  }
  
  .main-w3l {
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    /* Otros estilos específicos para el componente Register */
  }
  
  .logo-w3 {
    margin-top: 0;
  }
  
  .w3layouts-main {
    padding: 20px;
  }
  
  input[type='text'],
  input[type='email'],
  input[type='password'] {
    width: calc(100% - 24px);
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    /* Otros estilos específicos para los inputs en el componente Register */
  }

  
/* Estilos para el campo de selección de sexo */
.select-style select {
  width: calc(100% - 22px);
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #fff;
  box-sizing: border-box;
  -webkit-appearance: none; /* Elimina la apariencia nativa del selector en algunos navegadores */
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="%23333"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>'); /* Agrega una flecha personalizada */
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: center;
}

.select-style {
  position: relative;
  overflow: hidden;
  width: 100%;
}
  