/* app.css */
.main {
    text-align: center;
    color: #fff;
  }
  
  .main-w3l {
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    /* Otros estilos específicos para el componente Register */
  }
  
  .logo-w3 {
    margin-top: 0;
  }
  
  .w3layouts-main {
    padding: 20px;
  }
  
  input[type='text'],
  input[type='email'],
  input[type='password'] {
    width: calc(100% - 24px);
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    /* Otros estilos específicos para los inputs en el componente Register */
  }
  